numpy
matplotlib
tqdm
pandas
scipy
jaxlib
jax
optax
flax
dm-haiku
jaxtyping
wandb
tensorflow-probability
tensorflow-datasets
tensorflow
pytest
gym==0.23.1
XInput-Python
distro
git+https://github.com/lasgroup/Model-based-policy-optimizers